
#blockbody{
    width: 800px;
    height: auto;
    margin: 50px auto;
}
#block-content{
   width: 600px;
   height: auto;   
}
#block-cart{
    float: right;
}
#block-cart > p{
    font: 16px sans-serif; 
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 190px;
    border: 1px solid #EE6475;
    margin: 0;
    padding-left: 5px;
    background-color: #EE6475;
    color: white;
}

#block-cart > p > span.corner-down{
    background: url(/images/bullet-down.png) no-repeat;
    width: 12px;
    height: 7px;
    display: block;
    position: absolute;
    margin-left: 150px;
    margin-top: -13px;
}
#block-cart > p > span.corner-up{
    background: url(/images/bullet-up.png) no-repeat;
    width: 12px;
    height: 7px;
    display: block;
    position: absolute;
    margin-left: 150px;
    margin-top: -13px;
}
#block-cart > div{
    border: 1px solid #F8C0C6;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -1px;
    display: none;
}
#block-cart > div > p{
    font: 15px sans-serif; 
    margin: 5px;
    color: #B94848;
}
#block-cart > div > p > span{
    font: 18px sans-serif; 
    display: block;
    position: absolute;
    margin-left: 80px;
    margin-top: -18px;
    color: black;
}
#block-cart > div > a{
    font: 14px sans-serif; 
    display: inline-block;
    padding: 4px;
    border: 1px solid #E2E2E2;
    margin-top: 10px;
    margin-left: 5px;
    text-decoration: none;
    background-color: #E9E9E9;
    color: black;
}

#listing{
    margin-top: -10px;
}
#listing li{
    float: left;
    margin-left: 10px;
    width: auto;
    height: 250px;
}
#listing p.add-tovar{
    background: url(/images/add-cart-norm.png) no-repeat;
    display: inline-block;
    margin: 0;
    width: 48px;
    height: 25px;
    cursor: pointer;
}
#listing p.add-tovar:hover{
    background: url(/images/add-cart-hover.png) no-repeat;
}
#listing p.add-tovar:active{
    background: url(/images/add-cart-active.png) no-repeat;
}
#listing p.price-tovar{
    float: left;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    font: 17px sans-serif;
}
.fixblock{
    height: 200px;
    padding-top: 10px;
    display: inline;
}
